body {
    background: #efefef;
}

.main {
    background: white;
    margin: 30px;
}

.btn-publish {
    float: left;
    margin-bottom: 15px;
}

.question-img {
    width: 78px;
    height: 78px;
}

.question-text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.dropdown-menu {
    right: auto !important;
    left: 0 !important;
}

.questions-list {
    margin-block: 15px;
}

.comment-img {
    width: 55px;
    height: 55px;
    margin-top: 10px;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 12px;
    border-bottom: 1px solid #eee;
}
.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}
.comment-userName{
    font-size: 20px;
    text-decoration: none;
    color: #8bb9fe;
}

.question-related{
    font-size: 18px;
    list-style: none;
    line-height: 35px;
}

.question-related-a{
    text-decoration: none;
    color: #8BB9FE;
}
.tag-tab{
    display: none;

}