<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">
<head>
    <title>论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.rtl.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.rtl.min.css">
    <link rel="stylesheet" href="/css/bootstrap-utilities.min.css">
    <link rel="stylesheet" href="/css/bootstrap-utilities.rtl.min.css">
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 style="margin-top: 15px">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
                发现
            </h2>
            <hr>
            <div class="d-flex position-relative questions-list" th:each="question : ${pagination.questions}">
                <img th:src="${question.user.avatarUrl}" class="question-img flex-shrink-0 me-3 ">
                <div>
                    <a th:href="'/question/' + ${question.id}" th:text="${question.title}"
                    style="font-size: 20px; text-decoration: none; color: #8bb9fe;"></a><br>
                    <span th:text="${question.description}"></span><br>
                    <span class="question-text-desc">[[${question.viewCount}]]浏览·[[${question.commentCount}]]回复·[[${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}]]</span>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"  th:if="${pagination.showFirstPage}">
                        <a class="page-link" th:href="@{/(page=${1})}" aria-label="FirstPage">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li class="page-item"  th:if="${pagination.showPrevious}">
                        <a class="page-link" th:href="@{/(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page : ${pagination.pages}">
                    <a th:href="@{/(page=${page})}" th:class="${pagination.page == page}? 'active page-link' : 'page-link'">[[${page}]]</a>
                    </li>
                    <li class="page-item" th:if="${pagination.showNext}">
                        <a class="page-link" th:href="@{/(page=${pagination.page + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li class="page-item"  th:if="${pagination.showEndPage}">
                        <a class="page-link" th:href="@{/(page=${pagination.totalPage})}" aria-label="EndPage">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3 style="margin-top: 15px">热点话题</h3>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.bundle.min.js" type="application/javascript"></script>

<!--    <script src="js/bootstrap.esm.min.js" type="application/javascript"></script>-->
<!--    <script src="js/bootstrap.min.js" type="application/javascript"></script>-->
</body>
</html>