<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="cn">
<head>
    <title>论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.rtl.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.rtl.min.css">
    <link rel="stylesheet" href="/css/bootstrap-utilities.min.css">
    <link rel="stylesheet" href="/css/bootstrap-utilities.rtl.min.css">
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
                </svg>
                发布
            </h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="mb-3">
                    <label for="title" class="form-label">问题标题：</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}"
                           placeholder="问题标题...">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">问题补充：(必填，请参照右侧提示)</label>
                    <textarea class="form-control" name="description" id="description" cols="30"
                              rows="10" th:text="${description}"></textarea>
                </div>
                <div class="mb-3">
                    <label for="tag" class="form-label">添加标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}"
                           placeholder="输入标签，以，分隔..." onclick="showSelectTag()">
                </div>
                <div id="select-tag" class="tag-tab">
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="nav-item" th:each="selectCategory: ${tags}">
                            <a th:href="${'#' + selectCategory.categoryName}" aria-controls="home" role="tab" data-bs-toggle="tab" class="nav-link"
                               th:text="${selectCategory.categoryName}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" th:id="${selectCategory.categoryName}" th:each="selectCategory: ${tags}">
                            <span class="label label-info" th:each="selectTag: ${selectCategory.tags}">
                                <span class="badge text-bg-secondary" style="margin-right: 5px"
                                      onclick="selectTag(this)" th:data-tag="${selectTag}">[[${selectTag}]]
                                </span>
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--                                     class="bi bi-tags" viewBox="0 0 16 16">-->
<!--                                    <path d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z"/>-->
<!--                                    <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z"/>-->
<!--                                </svg>-->
                            </span>
                        </div>
                    </div>
                </div>
                <span class="alert alert-danger" th:text="${error}" th:if="${error != null}"></span>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.bundle.min.js" type="application/javascript"></script>
<script src="/js/community.js" type="application/javascript"></script>
<!--    <script src="js/bootstrap.esm.min.js" type="application/javascript"></script>-->
<!--    <script src="js/bootstrap.min.js" type="application/javascript"></script>-->
</body>
</html>