<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.rtl.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.rtl.min.css">
    <link rel="stylesheet" href="/css/bootstrap-utilities.min.css">
    <link rel="stylesheet" href="/css/bootstrap-utilities.rtl.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/signUp.css">
    <title>Loki注册</title>
</head>
<body>
<div class="login-container">
    <div class="wrapper">
        <div class="login-header">Loki注册</div>
        <div>
            <input type="text" name="username" placeholder="登录邮箱" class="input-item form-control">
            <div class="input-group">
                <input type="text" name="captcha" maxlength="6" class="captcha-item form-control" placeholder="验证码"
                       style="border-radius: 8px;">
                <button class="captcha-btn btn btn-outline-secondary" type="button" style="border-radius: 8px;">发送验证码
                </button>
            </div>
            <input type="password" name="password" placeholder="密码" class="input-item form-control">
            <div class="login-btn btn btn-primary">注册</div>
        </div>
    </div>
</div>
</body>
</html>
